<div  class="menu_burg" style="display: none;">
	<div class="menu_burg__logo">
		<div class="logo">
			<a class="logo__href" href=".">
				<img class="logo__img"  src="img/svg/logo.svg" alt="logo">
			</a>
		</div>
		<a href="#" class="close menu_burg__close">
			<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
				<use xlink:href="svg/symbols.svg#close"></use>
			</svg>
		</a>
	</div>
	<div class="menu_burg__wrap">
		<nav class="menu_burg__nav">
			<ul class="menu_burg__items"> 
				<li class="menu_burg__item"><a class="menu_burg__href" href="#helo-page">Почему мы </a></li>
				<li class="menu_burg__item"><a class="menu_burg__href"  href="#courusel">Меню </a></li>
				<li class="menu_burg__item"><a class="menu_burg__href"  href="#menu">Советы </a></li>
				<li class="menu_burg__item"><a class="menu_burg__href"  href="#team">Кто мы </a></li>
				<li class="menu_burg__item"><a class="menu_burg__href"  href="#delivery">Свяжитесь с нами </a></li>
				<li class="menu_burg__item"><a class="menu_burg__href"  href="#map">Контакты</a></li>
			</ul>
		</nav>
	</div>
</div>