<section id="courusel" class="section courusel">
	<div class="container">
		<div class="courusel__wrapper">
			<div class="str str_right"></div>	
			<ul class="courusel__container">
				<li class="courusel__wrap courusel__wrap_active">
					<div class="courusel__images">
						<div class="courusel__composition">
							<svg width="60" height="60" viewBox="0 0 60"  class="courusel__composition-svg">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="sprite.svg#burger"></use>
							</svg>
							<div class="composition">
								<ul class="composition__items">
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#beef"></use></svg>
										</div>
										<div class="composition__name">Говядина</div>
										<div class="composition__weight">300 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#buns"></use></svg>
										</div>
										<div class="composition__name">Булочки</div>
										<div class="composition__weight">100 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#salad"></use></svg>
										</div>
										<div class="composition__name">Соус</div>
										<div class="composition__weight">150 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#cucumber"></use></svg>
										</div>
										<div class="composition__name">Овощи</div>
										<div class="composition__weight">200 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#cheese"></use></svg>
										</div>
										<div class="composition__name">Сыр</div>
										<div class="composition__weight">200 г</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="courusel__image">
							<img src="img/ico/corusel-1.png" alt="Burger" class="courusel__img">
						</div>
						<div class="courusel__kalor" info="1200">
							<svg width="60" height="60" viewBox="0 0 60" class="courusel__kalor-svg" >
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="sprite.svg#kkal"></use>
							</svg>
						</div>
					</div>
					<div class="courusel__info">
						<h2 class="courusel__name">Dark BEEF Burger</h2>
						<div class="courusel__desc">Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.</div>
						<div class="courusel__buy">
							<div class="courusel__price">500</div>
							<button class="button courusel__button">Заказать</button>
						</div>
					</div>
				</li>
				<li class="courusel__wrap">
					<div class="courusel__images">
						<div class="courusel__composition">
							<svg width="60" height="60" viewBox="0 0 60"  class="courusel__composition-svg">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="sprite.svg#burger"></use>
							</svg>
							<div class="composition">
								<ul class="composition__items">
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#beef"></use></svg>
										</div>
										<div class="composition__name">Говядина</div>
										<div class="composition__weight">300 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#buns"></use></svg>
										</div>
										<div class="composition__name">Булочки</div>
										<div class="composition__weight">100 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#salad"></use></svg>
										</div>
										<div class="composition__name">Соус</div>
										<div class="composition__weight">150 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#cucumber"></use></svg>
										</div>
										<div class="composition__name">Овощи</div>
										<div class="composition__weight">200 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#cheese"></use></svg>
										</div>
										<div class="composition__name">Сыр</div>
										<div class="composition__weight">200 г</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="courusel__image">
							<img src="img/ico/corusel-1.png" alt="Burger" class="courusel__img">
						</div>
						<div class="courusel__kalor" info="1200">
							<svg width="60" height="60" viewBox="0 0 60" class="courusel__kalor-svg" >
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="sprite.svg#kkal"></use>
							</svg>
						</div>
					</div>
					<div class="courusel__info">
						<h2 class="courusel__name">Dark BEEF Burger</h2>
						<div class="courusel__desc">Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.</div>
						<div class="courusel__buy">
							<div class="courusel__price">500</div>
							<button class="button courusel__button">Заказать</button>
						</div>
					</div>
				</li>
				<li class="courusel__wrap">
					<div class="courusel__images">
						<div class="courusel__composition">
							<svg width="60" height="60" viewBox="0 0 60"  class="courusel__composition-svg">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="sprite.svg#burger"></use>
							</svg>
							<div class="composition">
								<ul class="composition__items">
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#beef"></use></svg>
										</div>
										<div class="composition__name">Говядина</div>
										<div class="composition__weight">300 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#buns"></use></svg>
										</div>
										<div class="composition__name">Булочки</div>
										<div class="composition__weight">100 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#salad"></use></svg>
										</div>
										<div class="composition__name">Соус</div>
										<div class="composition__weight">150 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#cucumber"></use></svg>
										</div>
										<div class="composition__name">Овощи</div>
										<div class="composition__weight">200 г</div>
									</li>
									<li class="composition__item">
										<div class="composition__ico">
											<svg width="45" height="40" viewBox="0 0 45 40" class="composition__svg"><use xlink:href="svg/symbols.svg#cheese"></use></svg>
										</div>
										<div class="composition__name">Сыр</div>
										<div class="composition__weight">200 г</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="courusel__image">
							<img src="img/ico/corusel-1.png" alt="Burger" class="courusel__img">
						</div>
						<div class="courusel__kalor" info="1200">
							<svg width="60" height="60" viewBox="0 0 60" class="courusel__kalor-svg" >
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="sprite.svg#kkal"></use>
							</svg>
						</div>
					</div>
					<div class="courusel__info">
						<h2 class="courusel__name">Dark BEEF Burger</h2>
						<div class="courusel__desc">Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.</div>
						<div class="courusel__buy">
							<div class="courusel__price">500</div>
							<button class="button courusel__button">Заказать</button>
						</div>
					</div>
				</li>
			</ul>
			<div class="str str_left"></div>
		</div>
	</div>
</section> 
