<header class="header">
	<div class="container">
		<div class="header__wrap">
			<div class="logo">
				<a class="logo__href" href=".">
					<img class="logo__img"  src="img/svg/logo.svg" alt="logo">
				</a>
			</div>
			<nav class="nav">
				<ul class="nav__items">
					<li class="nav__item">
						<a class="nav__href" href="#helo-page">О нас</a>
					</li>
					<li class="nav__item">
						<a class="nav__href" href="#courusel">Бургеры</a>
					</li>
					<li class="nav__item">
						<a class="nav__href" href="#team">Команда</a>
					</li>
					<li class="nav__item">
						<a class="nav__href" href="#menu">Меню</a>
					</li>
					<li class="nav__item">
						<a class="nav__href" href="#review">Отзывы</a>
					</li>
					<li class="nav__item">
						<a class="nav__href" href="#map">Контакты</a>
					</li>
				</ul>
				<a class="button nav__button" href="#delivery">Заказать</a>
				<div class="burg">
					<svg class="burg__svg"><use xlink:href="/svg/symbols.svg#burg"></use></svg>
				</div>
			</nav>
		</div>
	</div>
</header>