<meta charset="UTF-8">
<title>Burger</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link id="page_favicon" href="favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="css/main.css">
<script src="jquery.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.css"></script>
<link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
