<section id="map" class="section map">
	<div class="map__img">
		<div class="metka metka-1"></div>
		<div class="metka metka-2"></div>
		<div class="metka metka-3"></div>
		<div class="metka metka-4"></div>
	</div>
	<footer class="footer">
		<div class="footer__wrap">
			<address class="address">
				<div class="address__text">Санкт-Петербург, ул.Бабушкина, д.12/1, 15 </div>
				<a href="tel:78123771377" class="phone-href">
					<svg class="social__vk-svg" width="23" height="13" viewBox="0 0 23 13">
						<use xlink:href="sprite.svg#phone"></use>
					</svg>
				+7 (812) 377-13-77</a>
			</address>
			<div class="social">
				<ul class="social__items">
					<li class="social__item">
						<a href="vk.com" class="social__vk">
							<svg class="social__svg" width="23" height="20" viewBox="0 0 20">
								<use xlink:href="sprite.svg#vk"></use>
							</svg>
						</a>
					</li>
					<li class="social__item">
						<a href="fb.com" class="social__fb">
							<svg class="social__svg" width="20" height="20" viewBox="0 0 20 20">
								<use xlink:href="sprite.svg#fb"></use>
							</svg>
						</a>
					</li>
					<li class="social__item">
						<a href="instagram.com" class="social__inst">
							<svg class="social__svg" width="20" height="20" viewBox="0 0 20 20">
								<use xlink:href="sprite.svg#inst"></use>
							</svg>
						</a>
					</li>
					<li class="social__item">
						<a href="twitter.com" class="social__twitter">
							<svg class="social__svg" width="20" height="20" viewBox="0 0 20 20">
								<use xlink:href="sprite.svg#twitter"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</footer>
</section>