<nav class="nav-circle">
	<ul class="nav-circle__items">
		<a href="#helo-page" class="nav-circle__href"><li data-menuanchor="1" class="nav-circle__item is-active"></li></a>
		<a href="#courusel" class="nav-circle__href"><li  data-menuanchor="2"class="nav-circle__item"></li></a>
		<a href="#we-best" class="nav-circle__href"><li data-menuanchor="3"  class="nav-circle__item"></li></a>
		<a href="#review" class="nav-circle__href"><li data-menuanchor="4" class="nav-circle__item"></li></a>
		<a href="#team" class="nav-circle__href"><li data-menuanchor="5" class="nav-circle__item"></li></a>
		<a href="#menu" class="nav-circle__href"><li data-menuanchor="6" class="nav-circle__item"></li></a>
		<a href="#delivery" class="nav-circle__href"><li data-menuanchor="7" class="nav-circle__item"></li></a>
		<a href="#map" class="nav-circle__href"><li data-menuanchor="8" class="nav-circle__item"></li></a>
	</ul>
</nav>
