<section class="review">
	<ul class="review__items">
		<li class="review__item">
			<div class="review__images">
				<img class="review__img" src="img/content/1.jpg">
				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
			<div class="review__images"><img class="review__img" src="img/content/2.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
			<div class="review__images"><img class="review__img" src="img/content/3.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
			<div class="review__images"><img class="review__img" src="img/content/4.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
			<div class="review__images"><img class="review__img" src="img/content/5.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
			<div class="review__images"><img class="review__img" src="img/content/6.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
			<div class="review__images"><img class="review__img" src="img/content/7.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
			<div class="review__images"><img class="review__img" src="img/content/8.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
	</ul>
</section>
