<section id="review" class="review">
	<ul class="review__items">
		<li class="review__item">
				<div class="modal">
					<a href="#" class="modal__close close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images">
				<img class="review__img" src="img/content/1.jpg">
				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
				<div class="modal">
					<a href="#" class="modal__close close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images"><img class="review__img" src="img/content/2.jpg">
				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
				<div class="modal">
					<a href="#" class="modal__close close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images"><img class="review__img" src="img/content/3.jpg">
				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
				<div class="modal">
					<a href="#" class="modal__close close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images"><img class="review__img" src="img/content/4.jpg">
				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
				<div class="modal">
					<a href="#" class="modal__close close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images"><img class="review__img" src="img/content/5.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
				<div class="modal">
					<a href="#" class="modal__close close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images"><img class="review__img" src="img/content/6.jpg">

				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
				<div class="modal">
					<a href="#" class="modal__close close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images"><img class="review__img" src="img/content/7.jpg">
				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
		<li class="review__item">
				<div class="modal">
					<a href="#" class="close modal__close">
						<svg class="close__svg" width="22" height="22" viewBox="0 0 22 22">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/symbols.svg#close"></use>
						</svg>
					</a>
					<h2 class="modal__name">Константин Спилберг</h2>
					<div class="modal__text">
						Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным. Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
					</div>
				</div>
			<div class="review__images"><img class="review__img" src="img/content/8.jpg">
				<div class="review__desc">
					<div class="review__name">Константин Спилберг</div>
					<div class="review__text">Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.</div>
					<button class="button-review">Подробнее</button>
				</div>
			</div>
		</li>
	</ul>
</section>
