 <section id="team" class="team">
 	<div class="team__wrap">
 		<div class="team__container">
 			<h2 class="team__title">Команда</h2>
 			<ul class="accordeon">
 				<li class="accordeon__item">
 					<div class="accordeon__name">Дэниэл Редклиф</div>
 					<div class="accordeon__desc">
 						<div class="accordeon__ava">
 							<img src="img/content/team/1.jpg" alt="" class="accordeon__img">
 						</div>
 						<div class="accordeon__text">
 							<div class="accordeon__work">Оператор </div>
 							<div class="accordeon__greeting">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
 						</div>
 				</li>
 				<li class="accordeon__item accordeon__item-active">
 					<div class="accordeon__name">Ричард Джеймс</div>
 					<div class="accordeon__desc">
 						<div class="accordeon__ava">
 							<img src="img/content/team/1.jpg" alt="" class="accordeon__img">
 						</div>
 						<div class="accordeon__text">
 							<div class="accordeon__work">Оператор </div>
 							<div class="accordeon__greeting">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
 						</div>
 					</div>
 				</li>
 				<li class="accordeon__item">
 					<div class="accordeon__name">Джейк Финн</div>
 					<div class="accordeon__desc">
 						<div class="accordeon__ava">
 							<img src="img/content/team/1.jpg" alt="" class="accordeon__img">
 						</div>
 						<div class="accordeon__text">
 							<div class="accordeon__work">Оператор </div>
 							<div class="accordeon__greeting">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
 						</div>
 				</li>
 				<li class="accordeon__item">
 					<div class="accordeon__name">Николай Иванов</div>
 					<div class="accordeon__desc">
 						<div class="accordeon__ava">
 							<img src="img/content/team/1.jpg" alt="" class="accordeon__img">
 						</div>
 						<div class="accordeon__text">
 							<div class="accordeon__work">Оператор </div>
 							<div class="accordeon__greeting">С радостью поможет подобрать идеальный бургер и оформить заказ.</div>
 						</div>
 				</li>
 			</ul>
 		</div>
 	</div>
 </section>