.nav {
	display: flex;
	&__items {
		display: flex;
	}
	&__item {
		display: flex;
		align-self: center;
		&::after{
			content:"•";
			margin:0 15px;
		}
		&:last-child::after{
			content:"";
			margin:0 15px;
		}
	}
	&__href{
		color: white;
		text-decoration: none;
		font-family: Ubuntu;
		text-transform: uppercase;
		font-size:13px;
		&:hover{
			text-decoration: underline;
		}
	}
	&__button{
		align-self: center;
	}
}

.header{
	position: absolute;
	color: white;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	&__wrap {
		display: flex;
		padding-top: 12px;
		justify-content: space-between;
	}
}
.container {
	width: 77.872vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
}
.logo {
	width: 92px;
	height: 69px;
	overflow: hidden;
	&__href{
		display: block;
	}
	&__img{
		width: 100%;
	}
}

.nav-circle {
	width: 20px;
	height: 160px;
	position: fixed;
	right: 73px;
	top: 88px;
	z-index: 1;
	cursor:pointer;
	&__item {
		width: 9px;
		height: 9px;
		background-color: #ffffff;
		margin-bottom: 13px;
		padding: 2px;
		border-radius: 5px;
		position:relative;
		&-active::after{
			content:"";
			display:block;
			width: 14px;
			height: 14px;
			position:absolute;
			border: white 1px solid;
			border-radius: 50%;
			top: -3px;
			left: -3px;
		}
	}
}
