.list1{
	height: 100vh;
	min-height: rem(650px);
	background-color: #313131;
	background-image: url(../img/background/texture.png),
	url(../img/background/bg1.png);
	background-position: top right, center center;
	background-attachment: fixed,fixed;
	background-repeat: repeat,no-repeat;
	background-size: auto,cover;
	position: relative;
	&__center{
		width: 100%;
		height: 50%;
		justify-content: space-around;
		margin: auto;
		display: flex;
		@include tablet{
			flex-direction: column;
			height: 100%;
		}
	}
	&__title{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		@include tablet{
			height: auto;
		}
		@include phone{
			text-align: center;
			width: 100%;
			height: auto;
		}		
	}
	&__caption{
		font-family: Lifehack;
		letter-spacing: -1.63px;
		color: #fff;
		font-weight: 500;
		line-height: 1;
		font-size: rem(65px);
		@include tablet{
			text-align: center;
		}
	}
	&__text{
		width: 100%;
		font-family: Gagalin-Regular;
		font-size: rem(72px);
		color: #f9b43b;
		white-space: nowrap;
		@include tablet{
			height: 40%;
		}
		@include phone{
			height: 100%;
		}
	}
}
.burger {
	width: 50%;
	@include tablet{
		height: 50%;
		margin: auto;
	}
	@include phone{
		width: 80%;
	}
	background-image: url(../img/burger.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: relative;
}
.str-down{
	width: 2.3rem;
	height: rem(19px);
	cursor:pointer;
	background: url(../img/svg/str-down.svg) no-repeat;
	margin: 0 auto;
}
